%ol.breadcrumb
  %li.active Segments

.span8
  .panel.panel-default
    .panel-heading
      = link_to "Create segment", new_segment_definition_path, :class => "btn btn-primary btn-sm"
      = @segment_defs.count
      segments
    .panel-body
    %ul.list-group
      - @segment_defs.each do |segment_def|
        %a{:href => segment_definition_path(segment_def), :class => "list-group-item"}
          = segment_def.name
          %span.badge
            = segment_def.member_ids.count
            identities
