%h3 Home

Events per hour (last 24 hours)
%br
== (Average #{@avg_per_hour} per hour)
%br
== (Average #{@avg_per_hour / 60.0} per minute)
%br
== (Average #{(@avg_per_hour / 60.0) / 60.0} per second)
%br
= area_chart Event.group_by_hour(:created_at, :last => 24).count
