%ol.breadcrumb
  %li= link_to "Events", standard_events_path
  %li= @standard_event_name
.span8
  %h3 by hour
  = column_chart event_data_path(:id => @standard_event_name, :by => "hour")
  %h3 by day
  = column_chart event_data_path(:id => @standard_event_name, :by => "day")

