%ol.breadcrumb
  %li= link_to "Events", standard_events_path
  %li= @standard_event_name
.span8
  .panel.panel-default
    .panel-heading
      = render "layouts/view_prefs"
    .panel-body
      #chart

:javascript
  window.Prefs = {
    time_bucket: "daily",
    last: 30,
    chart_type: "line",
    data_url: "/standard_events/event_data",
    fact: "#{@standard_event_name}"
  };

  reloadCharts();
