%ol.breadcrumb
  %li.active Pageviews
.span8
  .panel.panel-default
    .panel-heading
      = render "layouts/view_prefs"
    .panel-body
      #chart

:javascript
  window.Prefs = {
    time_bucket: "daily",
    last: 30,
    chart_type: "line",
    data_url: "/page_views/page_data",
    fact: "*"
  };

  reloadCharts();
