- if user_signed_in?
  - if current_user.admin?
    %li
      %a{:href => users_path}
        Users
  %li
    %a{:href => identities_path}
      %span.glyphicon.glyphicon-user
      Identities
  %li
    %a{:href => page_views_path}
      %span.glyphicon.glyphicon-eye-open
      Pages
  %li
    %a{:href => standard_events_path}
      %span.glyphicon.glyphicon-dashboard
      Events
  %li
    %a{:href => segment_definitions_path}
      %span.glyphicon.glyphicon-tags
      Segments
  %li
    %a{:href => events_path}
      %span.glyphicon.glyphicon-list
      Log
