.btn-group
  = link_to "Line", "javascript:void(0);", :class => "btn btn-primary", :onClick => "useLineChart()"
  = link_to "Bar", "javascript:void(0);", :class => "btn btn-primary", :onClick => "useBarChart()"
  = link_to "Pie", "javascript:void(0);", :class => "btn btn-primary", :onClick => "usePieChart()"
